* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}   

.container {
    display: flex;
    /* background-color: #353535; */
    /* padding: 2rem; */
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    border: none;
    border-radius: 15px;
}

.white {
    position: relative;
    height: 13rem;
    width: 3rem;
    background-color: white;
    border: 1px solid black;
}

.black {
    position: absolute;
    height: 7rem;
    width: 2rem;
    background-color: black;
    left: 70%;
    z-index: 1;
}