* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
}   

.mappingBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 15px;
    margin: 10rem;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.37);
    background-color: white;
    transition: 0.3s;
}

.mappingBtn:hover {
    background-color: #d4d4d4;
    transition: 0.3s;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.37);
}

.container {
    display: flex;
    background-color: #353535;
    padding: 2rem;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    border: none;
    border-radius: 15px 15px 0 0;
    -webkit-box-shadow: 0px -3px 15px 5px rgba(0,0,0,0.37); 
    box-shadow: 0px -3px 15px 5px rgba(0,0,0,0.37);
}

.white {
    position: relative;
    height: 11rem;
    width: 3rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 0 4px 4px;
}

.black {
    position: absolute;
    height: 7rem;
    width: 2rem;
    background-color: black;
    left: 70%;
    z-index: 1;
    border-radius: 0 0 4px 4px;
}